.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

#divlista {
    width: 100%;
    display: flex;
    overflow: auto;
    border: 2px solid black;
}

.row {
    display: flex;
}

#estrellitas{
    display: flex;
    justify-content: flex-end;
}

.titulopelicula{
    color: white;
    margin-top: 2%;
}

.overview {
    color: grey;
}

.star {
    font-size: 24px;
    color: #ddd; /* Color de estrellas no activas */
}

.star.filled {
    color: #f5b301; /* Color de estrellas activas */
}